#nav{
    background-color: #daac00;
    padding: 1% 8%;
    
}
.navbar-dark {
    color: rgb(255, 255, 255);
    font-size: 20px;
   

}
#searchbox{
    background-color: #fcc302;
    color: white;
    border: 0px;
    border-radius: 0;
    position: relative;
    left: 47px;
    box-shadow: 11px 10px 11px 0px #04040421;
}
    
#searchbox::placeholder{
    color:white

}

#searchbtn{
    position: relative;
    z-index: 99;
    background-color: #75ced3;
    color: white;
    border: 0;
    border-radius: 0;


}
@media only screen and (max-width: 992px){
    #searchform{
        margin-bottom: 19px;
        margin-top: 10px;
        position: relative;
        left: -45px;
    }
    #nav{
    padding: 0 0 ;
    }
   
}
/* <!-- banner --> */
   #banner{
    background-color: #fcc302;
    padding-bottom: 20px;
   }
   #bannertext h1{
    color: white;
    font-size: 62px;
    margin-top: 100px;

   }
   #bannertext p{
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;

   }

   #banner-btn-1 {
    background-color: #00bec9;
    border: 2px solid #00bec9;
    color: white;
   }
   #banner-btn-2 {
   
    border: 2px solid white;
    color: white;
   }

   @media only screen and (max-width: 1100px){
    
   #bannertext h1{
   font-size: 35px;
   }

   #bannertext p{
    font-size: 18px;
   }
   #banner{
    padding-bottom: 20px;
}
   
}
@media only screen and (max-width: 900px){
    #bannertext p{
        font-size: 16px
    }
    #bannerimg{
        padding-bottom: 70px;
        
    }
    
    
}
@media only screen and (max-width: 900px){
    #bannerimg{
        margin-top: 70px;
        padding-bottom: 1px
        
    }
}

/* <!-- Service  --> */


#Servicetext{
    
    padding-top: 10%;
    padding-bottom: 5%;

}
#Servicetext h1 {
    
    font-size: 30px
}
#Service-btn{
    color: white;
    background-color: #fcc302;
    border: 2px solid  #fcc302 ;
    
}
#Service-img{
    padding: 5%;
}
@media only screen and (max-width: 768px){
    #Service-img{
        padding: 10%;
    }
}

/* breeds */

#breed {
    padding-top: 5%;
    padding-bottom: 5px;
    background-color: #fcc302;
    
     
}
.content{
    text-align: center;
}

#breed1 h2{
    margin-top: 10px;
    text-align: center;
    color: white;
}
#breed1 button{
    background-color: #00bec9;
    border: 1px solid #00bec9;
    color: white;
    margin-bottom: 15px;
}
.button-container1 {
    text-align: center;
}

#breed2 h2{
    margin-top: 10px;
    text-align: center;
    color: white;
}
#breed2 button{
    background-color: #00bec9;
    border: 1px solid #00bec9;
    color: white;
    margin-bottom: 15px;
}
.button-container2 {
    text-align: center;
}

#breed3 h2{
    margin-top: 10px;
    text-align: center;
    color: white;
}
#breed3 button{
    background-color: #00bec9;
    border: 1px solid #00bec9;
    color: white;
    margin-bottom: 15px;
}
.button-container3 {
    text-align: center;
}

/* <!-- counters --> */
#counters{
    background-image: url("../images/yellow.png");
    padding-bottom: 120px;
    padding-top: 120px;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;

}
#icon1 {
    font-size: 70px;
}
#icon2 {
    font-size: 70px;
}
#icon3 {
    font-size: 70px;
}

/* <!-- articles --> */

#article{
    padding-bottom: 40px;
    padding-top: 40px;
}

#posts{
    font-weight: bolder;
    font-size: 30px;
    
}
#disc{
    font-size: 25px;

}
.title{
    font-weight: bolder;
}
.date,.link{
    color: #00bec9;
    font-weight: bolder;
}
.article-border{
    padding: 15px;
    border:1px solid rgb(185,185,185) ;
    border-top: 0;
}

/* <!-- footer --> */
#footer{
    background-color: black;
    padding-top: 80px;
    padding-bottom: 80px;
}
#footer a{
    color: white;
    text-decoration: none;
}
#footer-form{
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer-serch-box{
    background-color: #fcc302;
    color: white;
    border:0;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    position: relative;
    left:5px;

}
#footer-serch-submit{
    background-color: #00bec9;
    color: white;
    border: 0;
    border-radius: 0;
    padding:10px 10px ;
     

}
.social-cons{
    font-size: 25px;
    padding-left: 5px;
}
@media only screen and (max-width: 500px){
    #footer{
        padding-top: 10px;
    }
    #footer h4{
        padding-top: 20px;
    }
}
