#nav{
    background-color: #daac00;
    padding: 1% 8%;
    
}
.navbar-dark {
    color: rgb(255, 255, 255);
    font-size: 20px;
   

}
#searchbox{
    background-color: #fcc302;
    color: white;
    border: 0px;
    border-radius: 0;
    position: relative;
    left: 47px;
    box-shadow: 11px 10px 11px 0px #04040421;
}
    
#searchbox::placeholder{
    color:white

}

#searchbtn{
    position: relative;
    z-index: 99;
    background-color: #75ced3;
    color: white;
    border: 0;
    border-radius: 0;


}
@media only screen and (max-width: 992px){
    #searchform{
        margin-bottom: 19px;
        margin-top: 10px;
        position: relative;
        left: -45px;
    }
    #nav{
    padding: 0 0 ;
    }
   
}


